
<form [formGroup]="form">
	<div class="form-group">
		<label for="title" class="control-label">Title</label> 
		<input id="title" class="form-control" min="0" formControlName="title">
	</div>
	
	<div class="form-group">
		<label for="lenghtGreatherThan" class="control-label">Length greather Than</label> 
		<input id="lenghtGreatherThan" class="form-control" min="0" formControlName="lenghtGreatherThan">
	</div>
	
	<div class="form-group">
		<label for="lenghtLowerThan" class="control-label">Length lower than</label> 
		<input id="lenghtLowerThan" class="form-control" min="0" formControlName="lenghtLowerThan">
	</div>
	
	<div class="form-group">
		<label for="artist" class="control-label">Artist </label> 
		<input id="artist" class="form-control" min="0" formControlName="artist">
	</div>

	<button type="button" class="btn btn-es-primary" (click)="onSearch()">Apply
	</button>
</form>